<div>
  <h2 id="page-heading" data-cy="PredmetiHeading">
    <span jhiTranslate="jpaApp.predmeti.home.title">Predmetis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jpaApp.predmeti.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-predmeti"
        [routerLink]="['/predmeti/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jpaApp.predmeti.home.createLabel"> Create a new Predmeti </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="predmetis?.length === 0">
    <span jhiTranslate="jpaApp.predmeti.home.notFound">No predmetis found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="predmetis && predmetis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jpaApp.predmeti.nazivPredmeta">Naziv Predmeta</span></th>
          <th scope="col"><span jhiTranslate="jpaApp.predmeti.brojSemestara">Broj Semestara</span></th>
          <th scope="col"><span jhiTranslate="jpaApp.predmeti.student">Student</span></th>
          <th scope="col"><span>Ukupno Semestara</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let predmeti of predmetis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/predmeti', predmeti.id, 'view']">{{ predmeti.id }}</a>
          </td>
          <td>{{ predmeti.nazivPredmeta }}</td>
          <td>{{ predmeti.brojSemestara }}</td>
          <td>
            <div *ngIf="predmeti.student">
              <a [routerLink]="['/student', predmeti.student?.id, 'view']">{{ predmeti.student?.id }}</a>
            </div>
          </td>
          <td>{{ predmeti.ukupnoSemestara }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/predmeti', predmeti.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/predmeti', predmeti.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(predmeti)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
